<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allenamenti - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Tracciatore allenamenti</h1>
    <a href="{{ url_for('aggiungi_allenamento') }}">Nuovo allenamento</a>
    <a href="{{ url_for('visualizza_allenamenti') }}">Visualizza allenamenti</a>
</body>

</html>