{% extends "base.html" %}
{% block title %}Allenamenti - Nuovo allenamento{% endblock %}
{% block link1 %}
<a href="{{ url_for('visualizza_allenamenti') }}">Visualizza allenamenti</a>
{% endblock %}
{% block link2 %}
<a href="{{ url_for('viz') }}">Visualizza grafici</a>
{% endblock %}

{% block h1 %}Nuovo allenamento{% endblock %}
{% block content %}
<div class="row">
    <div class="column left">
        <div class="column left">
            <table id="tab_musc">
                <tr>
                    <th>Id</th>
                    <th>Gruppo muscolare</th>
                </tr>
                {% for gruppo in gruppi %}
                <tr>
                    <td>{{gruppo[0]}}</td>
                    <td>{{gruppo[1]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="column center">
        <div class="card">
            <div class="container">

                <form method="POST" action="#">
                    <div>
                        <input type="text" name="nome" required autofocus placeholder="Esercizio">
                    </div>

                    <div>
                        <input type="number" name="ripetizioni" min="1" required placeholder="Numero ripetizioni">
                    </div>

                    <div>
                        <input type="number" name="serie" min="1" required placeholder="Numero serie">
                    </div>

                    <div>
                        <input type="number" name="riposo" min="0" required placeholder="Riposo (minuti)">
                    </div>

                    <div>
                        <input type="date" name="giorno" required>
                    </div>

                    <div>
                        <input type="number" name="gruppo_musc" min="1" max="8" required placeholder="Gruppo muscolare"
                            onclick="mostraTabella()">
                    </div>

                    <div>
                        <button type="submit">Invia</button>
                        <button type="reset">Reset</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="column right"></div>
</div>
</div>

<script>
    function mostraTabella() {
        var tabella = document.getElementById("tab_musc");
        if (tabella.style.display == "none") {
            tabella.style.display = "block";
        } else {
            tabella.style.display = "none";
        }
    }
</script>

{% endblock %}