<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allenamenti - Nuovo allenamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Nuovo allenamento</h1>
    <div class="row">
        <div class="column left">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Gruppo muscolare</th>
                </tr>
                {% for gruppo in gruppi %}
                <tr>
                    <td>{{gruppo[0]}}</td>
                    <td>{{gruppo[1]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="column center">
            <form method="POST" action="#">
                <div>
                    <input type="text" name="nome" required autofocus placeholder="Esercizio">
                </div>

                <div>
                    <input type="number" name="ripetizioni" min="1" required placeholder="Numero ripetizioni">
                </div>

                <div>
                    <input type="number" name="serie" min="1" required placeholder="Numero serie">
                </div>

                <div>
                    <input type="number" name="riposo" min="0" required placeholder="Riposo (minuti)">
                </div>

                <div>
                    <input type="date" name="giorno" required>
                </div>

                <div>
                    <input type="number" name="gruppo_musc" min="1" max="8" required placeholder="Gruppo muscolare">
                </div>

                <div>
                    <button type="reset">Reset</button>
                </div>

                <div>
                    <button type="submit">Invia</button>
                </div>

            </form>
        </div>
        <div class="column right">
            <div class="row redirect">
                <a href="{{ url_for('visualizza_allenamenti') }}">Visualizza allenamenti</a>
            </div>
        </div>
    </div>

</body>

</html>