{% extends "base.html" %}
{% block title %}Allenamenti - Visualizza allenamenti{% endblock %}
{% block link1 %}
<a href="{{ url_for('aggiungi_allenamento') }}">Aggiungi allenamento</a>
{% endblock %}
{% block link2%}
<a href="{{ url_for('viz') }}">Visualizza grafici</a>
{% endblock %}

{% block h1 %}Visualizza allenamenti{% endblock %}
{% block content %}
<div class="row">
    <div class="column center" style="overflow-x:auto;">
        <table id="table_all">
            <tr>
                <th>Giorno</th>
                <th>Esercizio</th>
                <th>Gruppo muscolare</th>
                <th>Ripetizioni</th>
                <th>Serie</th>
                <th>Riposo (min)</th>
                <th>Id</th>
            </tr>

            {% for dato in dati %}
            <tr>
                {% for elemento in dato %}
                <td>{{elemento}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="column left"></div>
    <div class="column center">
        <form action="#" method="post">
            <input type="number" name="elimina" value="id" placeholder="id" min="1" required autofocus>
            <input type="submit" value="Elimina esercizio">
        </form>
    </div>
    <div class="column right">
    </div>
</div>
{% endblock %}